albumentations
cmake
fastai
google
gspread
gspread-dataframe
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kaggle
matplotlib
matplotlib-inline
matplotlib-venn
notebook
numpy
opencv-python
progressbar2
scikit-image
scikit-learn
scipy
seaborn
sklearn
sklearn-pandas
torchsummary
torchtext
tqdm
